body {
  background-color: #fff;
  font-size: 14.2px;
  font-family: 'Asap', sans-serif;
}

body .container, body .container-xxl {
    margin-left: 2%;
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1400px;
    }
}

nav.navbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 0px;
    border-radius: 2px;
}

ul.navbar-nav {
    padding-right: 10px;
}

ul.navbar-nav li {
    border-bottom: 3.5px solid rgba(0,0,0,0);
    margin-left: 5px;
    margin-right: 5px;
}

ul.navbar-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 85%;
    color: #999 !important;
    padding-bottom: 13px;
    background-color: rgba(0,0,0,0) !important;
}

ul.navbar-nav li.active a {
    color: #000 !important;
}

ul.navbar-nav li:nth-child(1).active {
    border-bottom: 3.5px solid #008ed0;
}
