body {
  background-color: #fff;
  /* font-size: 14.2px; */
  font-family: 'Asap', sans-serif;
}

body .container, body .container-xxl {
    margin-left: 2%;
}

body .side-column {
    max-width: 440px;
}

body p {
    line-height: 1.55;
}

p:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
}

a {
    color: #2775b6; /* #0088d5;*/
    text-decoration: none;
}

.side-column {
    margin-bottom: 1cm;
    padding-right: 5%;
}

@media (min-width: 1400px) {
    .container-xxl {
        max-width: 1400px;
    }
}

nav.navbar {
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    padding-bottom: 0px;
    border-radius: 2px;
}

card {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
}

card div.card-title {
    display: flex;
    padding: 20px 16px 10px 16px;
}

ul.navbar-nav {
    padding-right: 10px;
}

ul.navbar-nav li {
    border-bottom: 3.5px solid rgba(0,0,0,0);
    margin-left: 5px;
    margin-right: 5px;
}

ul.navbar-nav li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 85%;
    color: #999 !important;
    padding-bottom: 13px;
    background-color: rgba(0,0,0,0) !important;
}

ul.navbar-nav li.active a {
    color: #000 !important;
}

ul.navbar-nav li:nth-child(1).active {
    border-bottom: 3.5px solid #008ed0;
}
